div {
    display: flex;
    justify-content: space-between;
    height: 54px;
}

div.contacts-one {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
}

div.contacts-one img {
    margin-right: 4px;
    height: 46px;
    padding: 2px;
}

div.contacts-one h3 {
    display: flex;
    padding: 4px;
    align-items: center; 
}

div.contacts-two {
    display: flex;
    justify-content: space-between;
    width: 15%;
    align-items: center;
}


div.contacts-two img {
    height: 46px;
    margin: 8px;
}